.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px 156px;
    justify-content: center;
}

.gallery-item {
    width: calc((100% - 2 * 24px) / 3);
}

.gallery-image {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s;
    cursor: pointer;
}

.gallery-image:hover {
    transform: scale(1.05);
}